<h1 align="center" class="text-success">Добро пожаловать в DomBuch!</h1>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">

    </div>
    <div class="span10">
      <h3 align="justify">
        <p>DomBuch - бухучет и отчетности</p>

        <p>Добро пожаловать на сайт DomBuch
          Наша компания предлагает оказание услуг по ведению бухгалтерского учета и отчетности для индивидуального пользования. На рынке бухгалтерских услуг мы работаем с марта 2014 года.
          Наша система работы строится по схеме "DomBuch", что и отражено в названии.</p>
      </h3>
      <!-- <img src="cur.jpg" width="400" height="300"> -->
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <%= image_tag '123.jpeg', style: 'height: 400px; width: 800px' %>
  </div>
  <div class="col-md-2"></div>
</div>
</div>