<div class="row">
  <div class="col-md-6">
<h1>Редактирование записи</h1>

<%= render 'form' %>

<%= link_to 'Показать', @record %> |
<%= link_to 'Назад', records_path %>
  </div>
  <div class="col-md-6">
    <%= image_tag 'edit1.jpg' %>
  </div>
</div>
