<h1>Контакты</h1>
<table class="table">
  <tr>
    <td>
      E-mail:
    </td>
    <td>
      serjonya@mail.ru
    </td>
  </tr>
  <tr>
    <td>
      Телефон:
    </td>
    <td>
      89136738688
    </td>
  </tr>
</table>
